tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: C:\Users\YOUR_USER\.cloudflared\REPLACE_WITH_TUNNEL_UUID.json

ingress:
  - hostname: fmts.example.kz
    service: http://127.0.0.1:8000
  - service: http_status:404
